@media (max-width: 600px) {
    /* 共通部分
    -------------------------*/  
    body {
        font-size: 15px;
    }
    .button {
        height: 30px;
        font-size: 15px;
    }
    .message p {
        font-size: 18px;
    }

    /* header
    -------------------------*/

    header {
        height: 180px;
    }
    .page_header {
        flex-direction: column;
        align-items: center;
    }
    .page_header p {
        font-size: 20px;
        line-height: 80px;
    }
    .logo {
        font-size: 35px;
        margin-bottom: 40px;
    }
    .main_nav li {
        font-size: 18px;
        font-weight: normal;
        line-height: 80px;
        margin: 10px;
    }
    .main_nav i {
        font-size: 20px;
    }
    
    /* 商品一覧ページ
    -------------------------*/
    .item {
        width: 45%;
        margin: 30px 5px 0;
    }
    .item img {
        height: 120px;
    }
    .item .button {
        width: 140px;
    }
    
    /* ほしい物リスト、カートページ
    --------------------------------*/    
    .cart_list{
        width: 100%;
    }
    .cart_list h1 {
        font-size: 20px;
    }
    .cart_list th {
        font-size: 18px;
    }
    .cart_list p{
        margin: 5px 0;
    }
    .cart_list img{
        height: 70px;
        margin: 0 auto;
    }
    .cart_list h1 {
        margin-left: 0;
    }
    .cart_list .cart_btn {
        width: 110px;
    }
    .delete_button {
        width: 60px;
    }
    table{
        width: 100%;
    }    
    .sum{
        font-size: 16px;
    }
    .buy_btn {
        width: 90px;
    }
    
    /* ログインページ
    --------------------------------*/
    .login {
        width: 100%;
    }

    /* 管理者ページ
    --------------------------------*/    
    .insert {
        margin: 30px 10px;
    }
    .insert_list th {
        font-size:18px;
    }
    .insert_list img {
        height: 70px;
    }
}